.card-img-overlay {
  background-color: #191818d9;
  border-radius: 8px!important;

}
.rounded{
  border-radius: 14px!important;
}
.card {
   border: 1px solid #fff; 
}
.rnd{
  border-radius: 30px;
}

/* player css */
